.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url("https://img.webme.com/pic/w/webcp/espacio01.jpg");
  background-color: rgb(33, 46, 33);
  height: 150px;
  padding: 20px;
  color: rgb(206, 164, 178);
  text-shadow: 0 0 100px rgb(44, 199, 38);
}

.App-title {
  font-size: 13mm;
  
}

.App-intro {
  font-size: large;
  background-image: url("https://img.webme.com/pic/w/webcp/espacio01.jpg");
  margin-top: 0px;
  padding: 20px;
  color: rgb(216, 92, 92);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Campos{
  
  padding: 3mm;
  padding-bottom: 6mm;
  text-align: left;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  color: goldenrod;
  font-weight:bold;  
  text-shadow: 0 0 10px rgb(199, 38, 38);
}
input{
   margin: 20px;
}

section{
  margin-left: 175px;
  margin-right: 175px;
  display: flex;
  flex-wrap: wrap;
  }

  .CuentaOk{
    text-decoration-color: blueviolet;
    background-color: blue;
    text-align: center;
    padding-block-end: 40mm;
    padding-block-start: 40mm;
    color: rgb(71, 17, 116);
    text-shadow: 0 0 10px rgb(255, 255, 255);
    font-size: 50px;
    font-family: Geneva, Verdana, sans-serif;
    background-image: url("https://image.freepik.com/vector-gratis/silueta-de-una-multitud-de-fiesta-en-un-fondo-abstracto_1048-2539.jpg");
  }

  .rccs{
    
    margin: 5px;
    color:  blanchedalmond;
  }
  
.hlTfmo .credit-card-input{
  margin-left: 10px;
  margin-top: 0cm;
}
